<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Launch Conference Qatar</title>
    <meta name="description" content="Launching the careers of qatar's future leaders. Launch conference is the first of an exclusive set of annual learning events that will deliver significant competitive advantage to those Qatari Nationals in their early professional years who attend." />
    <meta name="keywords" content="Launch Conference Qatar Doha, Qatar National Vision 2030, Annual learning event Qatar" />
    <meta name="author" content="pixelworks.digital">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- web font  -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="js-plugin/animation-framework/animate.css" />
    <!-- Pop up-->
    <link rel="stylesheet" type="text/css" href="js-plugin/magnific-popup/magnific-popup.css" />
    <!-- nekoAnim-->
    <link rel="stylesheet" type="text/css" href="js-plugin/appear/nekoAnim.css" />
    <!-- Owl carousel-->
    <link rel="stylesheet" href="js-plugin/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="js-plugin/owl.carousel/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="js-plugin/owl.carousel/owl-carousel/owl.theme.css">
    <!-- icon fonts -->
    <script src="https://use.fonticons.com/52e4faed.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">-->
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="css/layout.css">
    <link type="text/css" id="colors" rel="stylesheet" href="css/colors.css">
    <link type="text/css" rel="stylesheet" href="css/custom.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="js/modernizr-2.6.1.min.js"></script>
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png"> </head>
<style type="text/css">
footer {
    border-top: none;
}

.advanced-item {
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.standard-item {
    border-bottom: 1px solid #eee;
}

.light-bg {
    background: #fafafa;
}

.pricingBlockAdvanced {
    border: 12px solid rgba(255, 215, 0, 1);
}

.text-advanced {
    font-weight: 400 !important;
}
</style>

<body class="activateAppearAnimation">
    <!-- Primary Page Layout
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <header class="navbar-fixed-top">
            <!-- pre header -->
            <div id="preHeader" class="hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="quickMenu">
                                <li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
                                <li><a href="template-about.html">About us</a></li>
                                <li><a href="template-team.html">Our team</a></li>
                                <li><a href="template-contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <div id="contactBloc" class="clearfix">
                                <!-- social icons -->
                                <ul class="socialNetwork">
                                    <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1"></i></a></li>
                                    <li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird"></i></a></li>
                                    <li> <a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1"></i></a> </li>
                                    <li> <a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1"></i></a> </li>
                                    <li> <a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble"></i></a> </li>
                                </ul>
                                <!-- social icons -->
                                <!-- phone -->
                                <span class="contactPhone"><i class="icon-mobile"></i>615.987.1234</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / pre header -->
            <!-- header -->
            <div id="mainHeader" role="banner">
                <div class="container">
                    <nav class="navbar navbar-default scrollMenu" role="navigation">
                        <div class="navbar-header">
                            <!-- responsive navigation -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <!-- Logo -->
                            <a class="navbar-brand" href="index.html"><img src="images/main-logo.png" alt="ALABAMA website template" /></a>
                        </div>
                        <div class="collapse navbar-collapse" id="mainMenu">
                            <!-- Main navigation -->
                            <ul class="nav navbar-nav pull-right">
                                <li class="primary"> <a href="/" class="active">Home</a>
                                    <li class="primary ">
                                        <a href="index.html#projects" class="">Speakers</a>
                                    </li>
                                    <li class="primary ">
                                        <a href="programme.html" class="">Programme</a>
                                    </li>
                                    <li class="primary"> <a href="registration.html" class="">Register</a>
                                    </li>
                                    <li class="primary"> <a href="#contactSlice" class="">Contact</a>
                                    </li>
                                    <li class="primary">
                                        <a href="launch-april2015.html" class="firstLevel hasSubMenu">Previous Events</a>
                                        <ul class="subMenu">
                                            <li><a href="launch-april2015.html">Launch April 2015</a></li>
                                        </ul>
                                    </li>
                                    <li id="lastMenu" class="last"><a href="template-contact.html" class="firstLevel last">Login</a></li>
                            </ul>
                            <!-- End main navigation -->
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- / header -->
        <!-- ======================================= content ======================================= -->
        <!-- slider -->
        <main id="content">
            <section>
                <div class="owl-carousel neko-data-owl owl-animated" data-neko_items="1" data-neko_singleitem="true" data-neko_paginationnumbers="false" data-neko_transitionstyle="fade" data-neko_autoheight="true">
                    <!-- owl carousel item 2 -->
                    <div class="item">
                        <div class="bgMask opacity-2"></div> <img src="images/slider/owl-animated/bg1.jpg" alt="image" class="full-width" />
                        <div class="caption-wrapper">
                            <div class="caption">
                                <div style="padding-bottom:50px;" class="caption-content-position text-center v-bottom">
                                    <div class="caption-content textLight" data-neko_animation="fadeInLeftBig">
                                        <h1 class="bigHeading">Launch Conference</h1>
                                        <p>
                                            Launch provides interactive learning conferences designed for Qatari professionals
                                            <br> In support of the Qatar National Vision 2030</p>
                                    </div>
                                    <br> <a href="programme.html" title="" class="btn default" data-neko_animation="fadeInRightBig">
                                    Find Out More
                                </a> </div>
                            </div>
                        </div>
                    </div>
                    <!-- / owl carousel item 2 -->
                    <!-- owl carousel item 2 -->
                    <div class="item">
                        <div class="bgMask opacity-1"></div> <img src="images/slider/owl-animated/bg2.jpg" alt="image" class="full-width" />
                        <div class="caption-wrapper">
                            <div class="caption right">
                                <div class="caption-content-position text-right v-top">
                                    <div class="caption-content textLight" data-neko_animation="fadeInDownBig">
                                        <h1 class="bigHeading">Great Speakers</h1>
                                        <p class="mb">Leading personalities offer fascinating insights and learning opportunities</p>
                                    </div>
                                    <br> <a href="programme.html" title="slide" class="btn default" data-neko_animation="fadeInUpBig">
                                    Find Out More
                                </a> </div>
                            </div>
                        </div>
                    </div>
                    <!-- / owl carousel item 2 -->
                    <!-- owl carousel item 4 -->
                    <div class="item">
                        <div class="bgMask opacity-2"></div> <img src="images/slider/owl-animated/bg5.jpg" alt="image" class="full-width" />
                        <div class="caption-wrapper">
                            <div class="caption left">
                                <div style="padding-bottom:50px;" class="caption-content-position text-left v-bottom">
                                    <div class="caption-content textLight" data-neko_animation="fadeInDownBig">
                                        <h1 class="bigHeading">Workshops</h1>
                                        <p>Provide the opportunity for practical application and discussion of new ideas</p>
                                    </div>
                                    <br> <a href="programme.html" title="caption" class="btn default large" data-neko_animation="fadeInUpBig">
                                    Find Out More
                                </a> </div>
                            </div>
                        </div>
                    </div>
                    <!-- / owl carousel item 4 -->
                    <!-- owl carousel item 5 -->
                    <div class="item">
                        <div class="bgMask opacity-1"></div> <img src="images/slider/owl-animated/bg4.jpg" alt="image" class="full-width" />
                        <div class="caption-wrapper">
                            <div class="caption left">
                                <div class="caption-content-position text-left v-top">
                                    <div class="caption-content textLight" data-neko_animation="fadeInDownBig">
                                        <h1 class="bigHeading">Learning</h1>
                                        <p>Personal learning and reflection provide opportunities to try out new tools and techniques</p>
                                    </div>
                                    <br> <a href="programme.html" title="caption" class="btn default large" data-neko_animation="fadeInUpBig">
                                    Find Out More
                                </a> </div>
                            </div>
                        </div>
                    </div>
                    <!-- / owl carousel item 5 -->
                    <!-- owl carousel item 6 -->
                    <div class="item">
                        <div class="bgMask opacity-1"></div> <img src="images/slider/owl-animated/bg6.jpg" alt="image" class="full-width" />
                        <div class="caption-wrapper">
                            <div class="caption left">
                                <div class="caption-content-position text-left v-bottom">
                                    <div class="caption-content textLight" data-neko_animation="fadeInDownBig">
                                        <h1 class="bigHeading">Networking</h1>
                                        <p>Networking and connecting with professional peers and reacquainting with old friends</p>
                                    </div>
                                    <br> <a href="programme.html" title="caption" class="btn default large" data-neko_animation="fadeInUpBig">
                                    Find Out More
                                </a> </div>
                            </div>
                        </div>
                    </div>
                    <!-- / owl carousel item 6 -->
                </div>
            </section>
            <!-- slider -->
            <!-- quote -->
            <section class="largeQuote pb40 pt40">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="images/logos/profile.png" alt="Launch Logo" class="" data-neko_animation="fadeIn" />
                            <h1>
                                Get ready for<br><strong>The next LAUNCH Conference</strong><br> 25th - 28th April 2015 <br>Qatar
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div id="clock" class="countdown-block"></div>
                    </div>
                    <div class="row text-center">
                        <a class="btn btn-lg btn-border-dark" title="" href="#register" target="blank" data-nekoanim="fadeInUp" data-nekodelay="300"> Register Now</a>
                    </div>
                </div>
            </section>
            <!-- / quote -->
            <section class="color6 pb40 pt40">
                <div class="ctaBox1 ctaBoxFullwidth">
                    <div class="container">
                        <div class="row">
                            <div style="text-align:center;" class="col-md-12">
                                <h3 data-nekoanim="fadeInDown" data-nekodelay="200">Launch provides interactive learning conferences located in Doha, designed and developed for Qatari professionals. </h3>
                                <h4>Our December 2015 event will include a <strong>two-day conference</strong> as well a <strong>third day with optional workshops</strong>. Launch offers international and local speakers as well as dynamic learning activities that will contribute to the achievement of Qatar’s National Vision 2030.</h4>
                            </div>
                        </div>
                        <div style="padding-top:30px;" class="text-center">
                            <a class="btn btn-lg btn-border-dark" title="" href="programme.html" target="blank" data-nekoanim="fadeInUp" data-nekodelay="300"> View Programme</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- services -->
            <section id="services" class="color5">
                <div class="container pb150 pt50">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="100">
                                <a href="#projects"> <i class="icon icon-light-bulb iconBig iconRounded"></i>
                                    <h2>Speakers</h2>
                                    <p>Great speakers offering valuable insights and vital learning opportunities</p>
                                </a>
                            </article>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="200">
                                <a href="programme.html#workshops"> <i class="icon icon-pen iconBig iconRounded"></i>
                                    <h2>Workshops</h2>
                                    <p>Highly interactive workshops developing knowledge and capability</p>
                                </a>
                            </article>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                                <a href="programme.html"> <i class="icon icon-book-open iconBig iconRounded"></i>
                                    <h2>Programme</h2>
                                    <p>A packed programme filled with carefully selected speakers and great workshops</p>
                                </a>
                            </article>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="400">
                                <a href="launch-april2015.html#networking"> <i class="icon icon-share iconBig iconRounded"></i>
                                    <h2>Networking</h2>
                                    <p>Valuable opportunities for you to strengthen your professional network</p>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / services -->
            <!-- parallax testimonial -->
            <section class="parallaxSection image-2" data-stellar-background-ratio="1">
                <div class="maskParent">
                    <div class="bgMask"></div>
                    <div class="paralaxText container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-carousel nekoDataOwl  testimonialCarousel" data-neko_items="1" data-neko_singleitem="true" data-neko_paginationnumbers="true">
                                    <div class="item">
                                        <img src="images/clients/qu_logo.jpg" class="img-rounded mb15" alt="client">
                                        <blockquote class="text-center">
                                            The learning and motivation each delegate gained created great interest from Qatar University.
                                            <br>We see Launch as an informative learning event, which we will continue to support and be involved with
                                        </blockquote>
                                    </div>
                                    <div class="item"> <img src="images/clients/o1.png" class="img-rounded mb15" alt="client">
                                        <blockquote class="text-center">
                                            The vision of the Launch team was realised and it was a great pleasure to be part of such a successful event; the energy, passion and enthusiasm within the event was very contagious
                                        </blockquote>
                                    </div>
                                    <div class="item"> <img src="images/clients/qd1.png" class="img-rounded mb15" alt="client">
                                        <blockquote class="text-center">
                                            "The feedback we received from our employees has been extremely positive. The delegates appreciated the knowledge and expertise of the speakers, as well as their presentation skills. They spoke highly of the programme particularly of quality of the Launch event."
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / parallax testimonial -->
            <!-- logos -->
            <section style="padding-bottom:50px;" class="color4 pt40">
                <div class="container">
                    <div class="col-md-12 text-center mb40">
                        <h1>Previous Participating Companies</h1>
                        <div class="mb15">
                            <i class="icon icon-star-bts"></i> <i class="icon icon-star-bts"></i> <i class="icon icon-star-bts"></i> <i class="icon icon-star-bts"></i> <i class="icon icon-star-bts"></i>
                        </div>
                        <h2 class="subTitle">5 star Companies</h2>
                    </div>
                    <div class="row mb15">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <img src="images/clients/logo1.png" width="110" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <img src="images/clients/qu_logo.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="images/clients/commercial.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="images/clients/logo8.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                            </div>
                            <div style="padding-top:10px;" class="row">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="images/clients/logo2.png" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-top:20px;" class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="images/clients/moil.png" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-top:20px;" class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="images/clients/qd.jpg" width="190" class="img-responsive imgBorder" alt="clients">
                                </div>
                            </div>
                            <div style="padding-top:30px;" class="row">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="images/clients/logo6.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-top:20px;" class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="images/clients/vcu.jpeg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-bottom:20px;" class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="images/clients/bisport.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-top:10px;" class="col-md-2 col-sm-2 col-xs-6">
                                    <img src="images/clients/qdcc.jpg" width="90" class="img-responsive imgBorder" alt="clients">
                                </div>
                            </div>
                            <div style="padding-top:30px;" class="row">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="images/clients/logo6.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-top:20px;" class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="images/clients/vcu.jpeg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-bottom:20px;" class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="images/clients/bisport.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                <div style="padding-top:10px;" class="col-md-2 col-sm-2 col-xs-6">
                                    <img src="images/clients/qdcc.jpg" width="90" class="img-responsive imgBorder" alt="clients">
                                </div>
                            </div>

                             <div style="padding-top:30px;" class="row">

                                <div class="col-md-4 col-md-offset-4 col-sm-4  col-sm-offset-4 col-xs-6">
                                    <img width="250" src="images/clients/BEDAYA.jpg" class="img-responsive imgBorder" alt="clients">
                                </div>
                                
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- logos -->
            <!-- call to action -->
            <section class="color1 pb40 pt40">
                <div class="ctaBox ctaBoxFullwidth">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 data-nekoanim="fadeInDown" data-nekodelay="200"><strong>Interested in SPONSORING LAUNCH?</strong>
                                    <br /> We can support your corporate social responsibility policy through aiding the development of Qatari nationals as per Qatar’s National Vision 2030.
                                </h1>
                                <p style="padding-top:15px; color:#fff; font-size:16px;">To find out more call us now on (+974) 4451 6677</a>
                                </p>
                            </div>
                            <div style="padding-top:50px;" class="col-md-4">
                                <a class="btn btn-lg btn-border" title="" href="tel:+97444516677" target="blank" data-nekoanim="fadeInUp" data-nekodelay="300"> <i class="icon-down-open-big"></i> Call now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="pt30 pb30 light-bg">
                <div class="container ">
                    <div class="row">
                        <section class=" pb40 pt40 ">
                            <div class="container light-bg">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1>Invited Speakers</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="owl-carousel neko-data-owl pt40 pb40" data-neko_items="5" data-neko_singleitem="false" data-neko_paginationnumbers="true">
                            
                            <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/Abdulaziz-Al-Horr.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Dr. Abdulaziz Al-Horr</h3>
                                    <p>
                                        Qatar Finance and Business Academy
                                    </p>
                                </div>
                            </article>
                            <!-- portfolio item -->
                            
                            <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/Mohammed-Al-Hayder.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Mohammed Al Hayder</h3>
                                    <p>
                                          Ooredoo, Takallam
                                    </p>
                                </div>
                            </article>
                            <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/Afraa-Al-Noaimi.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Afraa Al-Noaimi</h3>
                                    <p>
                                        Josoor Institute
                                    </p>
                                </div>
                            </article>
                             <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/ammar_mohammed_updated.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Ammar Mohammed</h3>
                                    <p>
                                        
                                    </p>
                                </div>
                            </article>
                            <!-- portfolio item -->
                            <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/Nicola.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Nicola Simpson</h3>
                                    <p>
                                        QD&CC
                                    </p>
                                </div>
                            </article>
                            
                           
                           
                            <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/Liz-Fleming.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Elizabeth Fleming</h3>
                                    <p>
                                        Launch
                                    </p>
                                </div>
                            </article>
                            <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/danielmills.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Daniel Mills</h3>
                                    <p>
                                         
                                    </p>
                                </div>
                            </article>
                            <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/hilary-rowe.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Hilary Rowe</h3>
                                    <p>
                                         Ras Gas
                                    </p>
                                </div>
                            </article>
                             <article style="padding-right:5px;" class="item">
                                <img alt="" src="images/speakers/Layla-Saaed.jpg" class="img-responsive imgBorder">
                                <div class="boxContent">
                                    <h3>Layla Saeed</h3>
                                    <p>
                                         PIE international
                                    </p>
                                </div>
                            </article>
                            
                        </section>
                    </div>
                </div>
            </section>
            <section id="register">
                <header class="page-header">
                    <div class="container">
                        <div class="row">
                            <div style="padding-top:50px; padding-bottom:20px;" class="text-center">
                                <h1>Conference Passes</h1>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt30 pb30">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="pricingBloc"> <i class="iconBig icon icon-battery iconRounded"></i>
                                <h2>Standard</h2>
                                <h3>QAR 6,500<span>Two Days</span></h3>
                                <ul>
                                    <li class="standard-item">Full two day Conference Pass</li>
                                    <li class="standard-item">Workbooks filled with information & exercises</li>
                                    <li class="standard-item">Invitations to attend learning events throughout the year</li>
                                    <li class="standard-item">Networking events to exchange knowledge and learning</li>
                                    <li class="standard-item">Certificate of Attendance</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="pricingBloc "> <i class="iconBig icon icon-battery-plus iconRounded"></i>
                                <h2 class="text-advanced">Advanced</h2>
                                <h3>QAR 9,000<span>Three Days<br>Includes optional workshops</span></h3>
                                <ul>
                                    <li class="standard-item">In addition to Standard Pass</li>
                                    <li class="advanced-item"><i class="icon icon-plus-circle text-primary"></i> 2 half day workshop with industry leaders</li>
                                    <li class="advanced-item"><i class="icon icon-plus-circle text-primary"></i> Access to an executive coach post - learning event</li>
                                    <!--<li class="advanced-item"><i class="icon icon-plus-circle text-primary"></i> 1 Extra Day Workshop</li>
                                    <li class="advanced-item"><i class="icon icon-plus-circle text-primary"></i> Free access to a one day Launch Workshop</li>
                                    <li class="advanced-item"><i class="icon icon-plus-circle text-primary"></i> VIP reserved seating</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-top:30px; padding-bottom:80px;" class="text-center">
                    <a class="btn btn-lg btn-border-dark" title="" href="registration.html" target="blank" data-nekoanim="fadeInUp" data-nekodelay="300"> Register</a>
                </div>
            </section>
            <!-- / call to action -->
            <div style="padding-top:60px; padding-bottom:20px; border-top: 1px solid #eee;" class="text-center">
                <h1>Location</h1>
                <h2 class="subTitle">Grand Hyatt, Doha Qatar</h2>
                P.O Box<br>Tel : +974 4448 1234 <br>
                <a href="http://doha.grand.hyatt.com/">www.doha.grand.hyatt.com</a></p>
                <img src="images/hyatt.jpeg">
            </div>
            <main id="content">
                <div class="mb40">
                    <!-- map -->
                    <div id="mapWrapper" class="mt30"></div>
                    <!-- map -->
                </div>
                <section ng-app="xpatcloud" id="contactSlice" class="pt40">
                    <div style="padding-bottom:60px;" class="text-center">
                        <h1>Contact Us</h1>
                        <h2 class="subTitle">please contact us to find out more</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Contact info</h4>
                                <address>
                                    <p>
                                        <br> Launch Conference, Qatar, Doha
                                        <br>
                                        <i class="icon icon-phone"></i>&nbsp;(+974) 4451 6677
                                        <br>
                                        <i class="icon icon-email-outline"></i>&nbsp;<a href="mailto:contact@qatarlaunch.com">contact@qatarlaunch.com</a>
                                    </p>
                                </address>
                            </div>
                            <div ng-controller="xpatcloud.indexCtrl">
                                <form role="form">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input ng-model="contact.name" type="text" class="form-control" name="name" placeholder="Enter name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input ng-model="contact.email" type="email" class="form-control" name="email" placeholder="Enter email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input ng-model="contact.phone" type="text" class="form-control" name="phone" placeholder="Enter phone number" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="comments">Message</label>
                                            <textarea ng-model="contact.message" name="comment" class="form-control" cols="3" rows="5" placeholder="Enter your message…"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-sm-offset-4">
                                        <div class="form-group">
                                            <button ng-click="onClickContact()" name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button>
                                            <div style="padding-top:20px;">
                                                <h4 ng-show="sent" class="text-info"><i class="icon icon-check-btm"></i> Thank you, your message has been sent.</h4>
                                                <h4 ng-show="sending" class="text-info"><i class="icon icon-spinner icon-pulse "></i> Sending your message, please wait.</h4>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- / content -->
        </main>
        <!-- / content -->
        <!-- footer -->
        <footer id="footerWrapper" class="footer2">
            <div style="padding-top:40px;" id="footerRights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="socialNetwork">
                                <li><a href="https://www.facebook.com/qatarlaunch" class="tips" title="" data-original-title="follow us on Facebook"><i class="icon icon-facebook iconRounded"></i></a></li>
                                <li><a href="https://twitter.com/QatarLaunch" class="tips" title="" data-original-title="follow us on Twitter"><i class="icon icon-twitter iconRounded"></i></a></li>
                                <li><a href="https://instagram.com/qatarlaunch/" class="tips" title="" data-original-title="follow us on Instagram"><i class="icon icon-instagram iconRounded"></i></a></li>
                                <li><a href="https://linkedin.com/qatarlaunch/" class="tips" title="" data-original-title="follow us on Linkedin"><i class="icon icon-linkedin iconRounded"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <p>Copyright © 2016 Qatar Launch Conferences / All rights reserved. </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- / footer -->
    </div>
    <!-- global wrapper -->
    <!-- End Document
    ================================================== -->
    <script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
    <!-- carousel -->
    <script type="text/javascript" src="js-plugin/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
    <!-- pop up -->
    <script type="text/javascript" src="js-plugin/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- isotope -->
    <script type="text/javascript" src="js-plugin/isotope/jquery.isotope.min.js"></script>
    <!-- form -->
    <script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.form.js"></script>
    <script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="js-plugin/parallax/js/jquery.stellar.min.js"></script>
    <!-- appear -->
    <script type="text/javascript" src="js-plugin/appear/jquery.appear.js"></script>
    <!-- toucheeffect -->
    <script type="text/javascript" src="js-plugin/toucheeffect/toucheffects.js"></script>
    <!-- Custom  -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Countdown -->
    <script src="js-plugin/countdown/jquery.countdown.min.js"></script>
    <!-- modularityWorks -->
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!-- Firebase -->
    <!-- <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script> -->
    <!-- AngularFire -->
    <!-- <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script> -->
    <!-- Angular-ui-router-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- ui-bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
    <!-- local angular files -->
    <script type="text/javascript" src="admin/app.js"></script>
    <script type="text/javascript" src="admin/controllers/xpatcloudControllers.js"></script>
    <!-- angular-file-upload -->
    <script src="/admin/lib/angular-file-upload/angular-file-upload.min.js"></script>
</body>

</html>
